body {
	font-family: Roboto,sans-serif;
	font-weight: 300;
}

.carousel-inner > .carousel-item > img {
  width:640px;
  height:480px;
}

footer{
	margin-top: 20px;
}

.unique-color-dark {
    background-color: #1c2331 !important;
}

footer.page-footer {
    color: #fff;
}

footer.page-footer a{
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}

.deep-purple.accent-2 {
    background-color: #7c4dff !important;
}