body {
	font-family: Roboto,sans-serif;
	font-weight: 300;
}

.carousel-inner > .carousel-item > img {
  width:1024px;
  height:600px;
}

.restaurant-image > img{
	width:100%;
	height:100%;
	border-radius: 10px;
}

.restaurant-image > h3{
	margin-top: 20px;
}

nav ul li a{
	color: white!important;
}

nav ul li a:hover{
	color: black!important;
}

#logo{
	width: 80%;
}

footer{
	margin-top: 20px;
}

.unique-color-dark {
    background-color: #1c2331 !important;
}

.unique-color-violet {
    background-color: #6351ce !important;
}

footer.page-footer {
    color: #fff;
}

footer.page-footer a{
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}

.deep-purple.accent-2 {
    background-color: #7c4dff !important;
}

.carousel-control-prev-icon {
	height: 15%;
	width: 15%;
}

.carousel-control-next-icon {
	height: 15%;
	width: 15%;
}

.bg1-pattern {
    background-image: url(../img/pattern1.png);
    background-repeat: repeat;
}

.bg2-pattern {
    background-image: url(../img/pattern2.png);
    background-repeat: repeat;
}







.bo-rad-10 {
    border-radius: 10px;
}
.bo2 {
    border: 2px solid #d9d9d9;
}
.size12 {
    width: 100%;
    height: 50px;
}
.txt10 {
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}
.txt9 {
    font-weight: 400;
    font-size: 15px;
    color: #555555;
}

.sizefull {
    width: 100%;
    height: 100%;
}
.p-l-20 {
    padding-left: 20px;
}
input {
    outline: none;
    border: none !important;
}

.pos-relative {
    position: relative;
}
.m-b-23 {
    margin-bottom: 23px;
}
.m-t-3 {
    margin-top: 3px;
}
.select2-container--focus .select2-selection--single {
    border-color: transparent;
}
.select2-container .select2-selection--single {
    display: flex;
    align-items: center;
    background-color: white;
    border: 0px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 10px !important;
    height: 46px;
    outline: none;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-selection__rendered {
    font-size: 14px;
    font-weight: 400;
    color: #666666 !important;
    padding-left: 20px !important;
}